body {
  background-color: #f8f8f0;
  color: #5b5b5b;
  font-weight: 400 !important;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

li {
  list-style-type: none;
  margin: 20px 0px;
  padding: 0;
}

ul {
  padding: 0px;
}

.pipe {
  display: block;
  margin-top: -50px;
  font-family: 'Marck Script', cursive;
}

.logo {
  margin: 30px auto;
}

#controls {
  float: left;
  width: 200px;
  margin: 10px;
}

#controls input {
  display: inline-block;
  width: 80px;
  cursor: pointer;
}

#controls .slider-track-high {
  background: #ff4d1c;
}

#controls .slider-selection {
  background: #422531;
}

#controls .min-slider-handle {
  background: #000;
}

.rc-slider-track {
  background: #422531;
}

.rc-slider-rail {
  background: #ff4d1c;
}

.rc-slider-handle {
  background: #000;
  border: #fff;
}

#tulip {
  border: 1px solid #aaa;
  background: white;
  width: 602px;
  height: 602px;
}

#sire,#matron {
  border: 1px solid #aaa;
  background: white;
  width: 202px;
  height: 202px;
}

#genestring {
  display: inline-block;
  margin: 10px 0px;
  background: transparent;
  border: none;
}

#draw {
  height: 100%;
  cursor: pointer;
}

.plus {
  line-height: 200px;
  font-size: 50px;
}

.parent-tulip {
  cursor: pointer;
}

.inline {
  display: inline !important;
}

.navbar-inverse {
  font-family: 'Courgette';
}

.navbar-brand {
  margin-left: -40px !important;
}

.btn {
  cursor: pointer;
}

.collection-name {
  width: 600px;
}